@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Rubik', sans-serif;
    color:rgb(107, 59, 11);

}

.bgNav{
    background-color:rgba(189, 198, 161);
}

.logo{
    padding-top:10px;
    width: 60px;
    margin-left: 15px;
}


.card-img-top{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}