@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Rubik', sans-serif;
    color:rgb(107, 59, 11);

}


/*estilos header*/

.bgNav{
    background-color:rgba(189, 198, 161);
    .logo{
        padding-top:10px;
        width: 60px;
        margin-left: 15px;
    }
    .navbar-nav{
        .nav-link.colorLadrillo{
            color:rgb(107, 59, 11);
            &:hover{
                color:rgb(163, 87, 10);
                border-bottom: 1px solid rgb(163, 87, 10);
            }
        }
        .nav-link.colorLadrilloClaro{
            color:rgb(163, 87, 10);
            &:hover{
                border-bottom: 1px solid rgb(163, 87, 10);
            }
        }
    }
}


/*estilos footer*/

footer{
    background-color: rgba(189, 198, 161);
    color: rgb(107, 59, 11);
    font-size: 14px;
    text-align: center;
    padding: 2px;
    .logo{
        padding-top:10px;
        width:60px;
    }
}

.listaNavFooter{
    list-style: none;
    .linkNav{
        text-decoration: none;
        color:rgb(107, 59, 11);
    }
}

.fa-instagram{
    color:rgb(245, 18, 107);
    font-size: 1.5rem;
}

.fa-facebook{
    color:rgb(8, 102, 255);
    font-size: 1.5rem;
}

.fa-whatsapp{
    color:rgb(37, 211, 102);
    font-size: 1.5rem;
}

/*estilos index*/

.intro{
    color: rgb(151, 189, 37);
    font-weight: bold;
    background-image: url(../assets/img/compost-still-life-concept.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:40vh;
    padding:0px 0px 0px 180px;
    box-sizing: border-box; 
}


/*estilos galeria*/

.card-img-top{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*estilos titulos*/

.tituloPagina{
    background-color: rgba(213, 199, 185);
    text-align: center;
}

