
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: sticky;
    top:0;
    background-color: rgba(189, 198, 161);
    padding:2px; 
    display:flex;
    align-items: center;
    .logo{
        padding-top:10px;
        width: 70px;
        margin-left: 40px;
    }
    .listaNavHeader{
        list-style: none;
        display:flex;
        column-gap: 25px;
        margin-left:40px;
        .linkNav{
            text-decoration: none;
            color:rgb(107, 59, 11);
        }
    }
}

footer{
    background-color: rgba(189, 198, 161);
    color: rgb(107, 59, 11);
    font-size: 14px;
    text-align: center;
    padding: 2px;
    .logo{
        padding-top:10px;
        width:50px;
    }
}

h1{
    color:rgba(137, 145, 83);
    background-color: rgba(213, 199, 185);
    text-align: center;
}

.listaNavFooter{
    list-style: none;
    .linkNav{
        text-decoration: none;
        color:rgb(107, 59, 11);
    }
}

.textoCentro{
    text-align: center;
    vertical-align: middle;
}

.intro{
    color: rgb(151, 189, 37);
    font-weight: bold;
    background-image: url(../assets/img/compost-still-life-concept.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:40vh;
    padding:1px 0px 0px 180px;
    box-sizing: border-box; 
}

.seccionGaleria{
    .contenedorTarjetas{
        display: flex;
        justify-content: space-evenly;
        column-gap: 20px;
        .galeria{
            width:300px;
            height:300px;
            background-color: rgb(236, 236, 236);
            padding:20px;
            text-align:center;
            margin-top: 20px;
            margin-bottom: 20px;
            /*margin:20px;*/
            .imgGaleria{
                width: 100%;
                height: 90%;
                object-fit: contain;
                object-fit: cover;
            }
    }   }
}

.listaProceso{
    margin-left: 30px;
}


.fa-instagram{
    color:rgb(245, 18, 107);
    font-size: 1.5rem;
}

.fa-facebook{
    color:rgb(8, 102, 255);
    font-size: 1.5rem;
}

.fa-whatsapp{
    color:rgb(37, 211, 102);
    font-size: 1.5rem;
}



@media screen and (max-width: 768px) {
    
}