.intro{
    color: $color-terciario;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 2px #6B3B0B;
    background-image: url(../assets/img/compost-still-life-concept.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    padding: 1% 0% 0% 18%;
    box-sizing: border-box; 

}