

.bordesGaleria{
    @include bordesGaleria(thick,$color-fondo-claro);
    .card{
        background-color: $color-fondo-claro;
        border: none;
        .contenedorImagen{
            width:100%;
            height:100%;
            justify-content: center;
            background-color: $color-fondo-claro;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 25px;
                transition: transform 0.2s ease-in;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}



