
@media screen and (max-width: 768px){
    .videoSize{
        max-width: 300px;
        height: auto;
    }
}

@media screen and (min-width: 768px){
    .fontSize{
        font-size:20px;
    }
}

@media screen and (max-width: 768px){
    .mapSize{
        max-width: 300px;
        height: auto;
    }
}