

.tituloPagina{
    background-color: $color-fondo-titulo;
    text-align: center;
}

.boton{
    background-color: $color-fondo-titulo;
    border-style: none;
    color: $color-principal;
}

.subtitulo{
    font-size: 1.5rem;
    text-align: justify;
}