
@import 'variables';

@import 'reset';
@import 'header';
@import 'main_index';
@import 'footer';
@import 'utilitarias';






/*estilos galeria*/

.card-img-top{
    width: 100%;
    height: auto;
    object-fit: cover;
}



/*estilos tamaño de video en mobile*/

@media screen and (max-width: 768px){
    .videoSize{
        max-width: 400px;
        height: auto;
    }
}